%html
  %head
    %title= Blog.title
    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=UTF-8"}
    %link{:rel => "alternate", :type =>"application/atom+xml", :href => "/feed", :title => "Feed for #{Blog.title}" }
    %link{:rel => "stylesheet", :type =>"text/css", :href => "/yarbe.css" }
  %body
    #header
      %h1= Blog.title
      %h2= Blog.subtitle
      - @messages and @messages.each do |message|
        .message= message
    #content= yield